* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
  
}
.Track {
  width: 100%;
  display: flex;
  background-color: rgb(35, 59, 118);
  height: 70px;
}
.Track h2 {
  margin: auto;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: -60px;
}
.aclc-logo {
  height: 70px;
  width: auto;
  margin-right: auto;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("background.jpg") no-repeat center center fixed;  
  background-size: cover;
  filter: blur(5px); 
  z-index: -2; 
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: -1;
}
.login_box {
  background-color: rgb(255, 255, 255);
  padding: 70px;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  margin: 150px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}
.login_box h2 {
  text-align: center;
  margin-bottom: 60px;
}
.login_box button {
  margin-bottom: 10px;
}
.login_box p {
  margin-top: 10px;
  text-align: center;
}
.buttons{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
 .input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}
.input-group input:focus {
  border-color: #0E027E;
  outline: none;
  box-shadow: 0 0 5px rgba(14,2,126,0.3);
}
.buttons {
  margin-top: 10px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #0E027E;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #09016f;
}
p {
  text-align: center;
  font-size: 14px;          
  margin-top: 10px;                    
}
p a {
color: #0E027E;            
text-decoration: none;            
}
p a:hover {
  text-decoration: underline;
}