* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(5px); 
  z-index: -2; 
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: -1;
}
.main-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(35, 59, 118, 0.9);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  z-index: 10;
  height: 120px;
}


.aclc-logo {
  height: 90px;
  width: auto;
  margin-right: auto;
}


.button {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  margin: 10px;
}

.button:hover {
  background: white;
  color: #233b76;
}


.login-btn {
  margin-left: 10px;
 
}

.register-btn {
  margin-left: 650px;
 
}
